<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cold Room Logs</title>
</head>
<body>
    <div class="content">
    <table border="1">
        <tr>
            <th>Average Temps</th>
        </tr>
        <tr>
            <td>Last 24 hours: {{avg_24}}</td>
        </tr>
        <tr>
            <td>Last 7 days: {{avg_7}}</td>
        </tr>
        <tr>
            <td>Last 30 days: {{avg_30}}</td>
        </tr>
    </table>
    </div>
</body>
</html>